<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment [(ngModel)]="packetType" (ionChange)="segmentChanged()">
      <ion-segment-button value="uhf">
        <ion-label>UHF</ion-label>
      </ion-segment-button>
      <ion-segment-button value="spf">
        <ion-label>SPF</ion-label>
      </ion-segment-button>
      <ion-segment-button value="can0">
        <ion-label>CAN0</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!-- <ion-title>
      Blank
    </ion-title> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" overflow-scroll="true" class="ion-padding">
  <!-- <pre>{{mqtt.packets | json}}</pre>   -->

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
      <ion-button>UHF</ion-button>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div id="container"> -->
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
<div *ngIf="ps.ready">
    <app-uhf *ngIf="packetType === 'uhf'"></app-uhf>
    <app-spf *ngIf="packetType === 'spf'"></app-spf>
    <app-can0 *ngIf="packetType === 'can0'"></app-can0>
</div>
<!-- </div> -->


</ion-content>
